$grid-columns: 24 !default;
$container-max-widths: ( 
  sm: 570px,
  md: 820px,  
  lg: 960px,      
  xl: 1300px
) ; 
// $primary:       var(--bs-p rimary) !default;   
$primary:       rgba(20, 50, 96, 1) !default;    
$secondary:     #4A4A4A !default;   
$info:          #205D86 !default; 
$body-color: #373a3d;      
   
$display-font-sizes: (  
  1: 2.0000rem,    
  2: 1.5625rem,                 
  3: 1.3125rem,               
  4: 1.125rem,            
  5: 0.9375rem,          
  6: 0.8125rem                
);    
// $display-font-weight: 300; 
         
$font-size-base: 0.818rem;                 
$lead-font-size: $font-size-base * 1;         
$lead-font-weight: 300;                     
$display-line-height: 1.5;      


      
@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss'; 
@import '../../node_modules/bootstrap/scss/bootstrap-utilities.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../css/custom-style.css';      
      
    
/*  add Custom style for bootstrap borders */
@media (max-width: 576px) {    
  .i8-border-sm-none{border: 0 !important;};      
}            
@media (max-width: 768px) {  
  .i8-border-md-none{border: 0 !important;};
}
@media (max-width: 992px) {
  .i8-border-lg-none{border: 0 !important;}; 
}  
@media (min-width: 992px) {  
  .i8-border-xl-none{border: 0 !important;};   
}
/*  add Custom style for bootstrap borders */      