/* Global  */

@font-face {
  font-family: 'iransansxv';
  src: url('../font/IRANSansXV/IRANSansXV.woff2') format('woff2-variations'),
    /* will be the standard and works in Safari now */
    url('../font/IRANSansXV/IRANSansXV.woff2') format('woff2');
  /* for the other supporting browsers */
  font-weight: 100 1000;
  font-display: fallback;
}

@font-face {
  font-family: iransansx;
  src: url('staticfonts/iransansx-regular.woff') format('woff');
}

@font-face {
  font-family: iransansx;
  src: url('staticfonts/iransansx-bold.woff') format('woff');
  font-weight: 700;
}

:root {
  --i8-light-primary: #001ae1;
  --i8-dark-primary: rgba(20, 50, 96, 1);
  --i8-light-primary-light: #0059B9;
  --i8-light-secondary: #4A4A4A;
  --i8-dark-secondary: #f8f8f8;
  --i8-light-complete-color: #ff9900;
  --i8-dark-complete-color: #ff9900;
  --i8-light-bg-color: #f8f8f8;
  --i8-dark-bg-color: #171c28;
  --i8-light-fg-color: #ffffff;
  --i8-dark-fg-color: #222740;
  --i8-light-blue: #00C2FF;
  --i8-flip-box-hover: #F44336;
  --i8-light-title-color: #505050;
}

.i8-light-primary-color {
  color: var(--i8-light-primary);
}

:root,
[data-bs-theme=light] {
  --bs-body-color: #373a3d;
}

.container {
  max-width: 1230px;
  padding: 0;
}


.display-1 {
  font-size: clamp(29px, 2vw, 32px) !important;
}

.display-2 {
  font-size: clamp(22px, 2vw, 25px) !important;
}

.display-3 {
  font-size: clamp(18px, 2vw, 21px) !important;
}

.display-4 {
  font-size: clamp(15px, 2vw, 18px) !important;
}

.display-5 {
  font-size: clamp(13px, 2vw, 15px) !important;
}

.display-6 {
  font-size: clamp(11px, 2vw, 13px) !important;
}

.f10 {
  font-size: 10px;
}

.f11 {
  font-size: 11px;
}

.f12 {
  font-size: 12px;
}

.f13 {
  font-size: 13px;
}

.f14 {
  font-size: 14px;
}

.f15 {
  font-size: 15px !important;
}

.f16 {
  font-size: 16px !important;
}

.f17 {
  font-size: clamp(14px, 2vw, 17px) !important;
}

.f18 {
  font-size: clamp(15px, 2vw, 18px);
}
.f22 {
  font-size: clamp(19px, 2vw, 22px);
}

.f24 {
  font-size: clamp(20px, 2vw, 24px);
}

.f26 {
  font-size: clamp(22px, 2vw, 26px);
  line-height: 150%;
}

.f28 {
  font-size: clamp(24px, 2vw, 28px);
}

.f31 {
  font-size: 31px;
}

.f32 {
  font-size: 32px;
}

.f50 {
  font-size: 50px;
}

.l22-05 {
  line-height: 22.5px;
}

.l1 {
  line-height: 150%;
}

.l2 {
  line-height: 180%;
}

.l3 {
  line-height: 200%;
}

.fw-1 {
  font-weight: 100 !important;
  font-variation-settings: "wght" 100 !important;
}

.fw-2 {
  font-weight: 200 !important;
  font-variation-settings: "wght" 200 !important;
}

.fw-3 {
  font-weight: 300 !important;
  font-variation-settings: "wght" 300 !important;
}

.fw-4 {
  font-weight: 400 !important;
  font-variation-settings: "wght" 400 !important;
}

.fw-5 {
  font-weight: 500 !important;
  font-variation-settings: "wght" 500 !important;
}

.fw-6 {
  font-weight: 600 !important;
  font-variation-settings: "wght" 600 !important;
}

.fw-7 {
  font-weight: 700 !important;
  font-variation-settings: "wght" 700 !important;
}

.fw-8 {
  font-weight: 800 !important;
  font-variation-settings: "wght" 800 !important;
}

.fw-9 {
  font-weight: 900 !important;
  font-variation-settings: "wght" 900 !important;
}

.fw-10 {
  font-weight: 1000;
  font-variation-settings: "wght" 1000;
}

.fd-1 {
  font-variation-settings: "DOTS" 0;
}

.fd-2 {
  font-variation-settings: "DOTS" 1;
}

.fd-3 {
  font-variation-settings: "DOTS" 2;
}

.fd-4 {
  font-variation-settings: "DOTS" 3;
}

.fd-5 {
  font-variation-settings: "DOTS" 4;
}

.fd-6 {
  font-variation-settings: "DOTS" 5;
}

.fd-7 {
  font-variation-settings: "DOTS" 6;
}

.fd-8 {
  font-variation-settings: "DOTS" 7;
}

.fd-9 {
  font-variation-settings: "DOTS" 8;
}


.text-normal {
  color: #000;
}

.text-grey {
  color: var(--i8-light-secondary);
}

.bg-i8-light-primary {
  background-color: var(--i8-light-primary) !important;
}

.bg-red {
  background: #d62a3e;
}

.bg-green {
  background-color: #49c393;
}

.text-blue {
  color: var(--i8-light-primary);
}

.text-title {
  color: #5e5e5e;
}

.text-subtitle {
  color: #5e5e5e;
}

.text-gray {
  color: #5e5e5e;
}

.bg-gray {
  background-color: #f5f6f7;
}

.text-link {
  color: #1489f5;
}

.bg-dark {
  background-color: #161625;
}

.bg-main {
  background-color: var(--i8-light-bg-color);
}

.cat_btn_link {
  color: var(--i8-light-complete-color);
  padding: 2px;
  border-bottom: 1px solid var(--i8-light-complete-color);
}

.transition1 {
  transition: 0.1s all ease-in;
}

.transition2 {
  transition: 0.2s all ease-in;
}

.text-justify {
  text-align: justify;
}



body * {
  font-family: iransansx;
  outline: none;
  list-style: none;

}

@supports (font-variation-settings: normal) {
  body * {
    font-family: iransansxv;
    outline: none;
    list-style: none;
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
  }
}

.box {
  background: #FFF;
  box-shadow:rgba(0,0,0,.02) 0 4px 5px 0,rgba(0,0,0,.15) 0 2px 21px -7px;
  

}

body a {
  text-decoration: none !important;
}

.image_frame {
  width: 100%;
  display: block;
  height: 100%;
  overflow: hidden;
}

.image_frame_2 {
  width: 100%;
  display: block;
  overflow: hidden;
}


a.i8-blink,
.content-entry a {
  padding-bottom: 0px;
  background: -webkit-gradient(linear, right top, left top, from(var(--i8-dark-complete-color)), to(var(--i8-dark-complete-color)));
  background: linear-gradient(to left, var(--i8-dark-complete-color) 0%, var(--i8-dark-complete-color) 40%);
  background-size: 0px 15%;
  background-repeat: no-repeat;
  background-position: right 100%;
  -webkit-transition-duration: 1.2s;
  transition-duration: background-size 1.2s;
  font-weight: inherit;
  padding: 0;
  color: inherit !important;
}

a.i8-blink:hover,
.content-entry a:hover {
  background-size: 100% 10%;
}

body a:hover {
  color: var(--i8-light-primary);
  transition: all 0.5s ease;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-auto {
  cursor: auto;
}

/* Global  */

/* header  */
.header-container {
  /* background: linear-gradient(270deg, #0C2955 5.52%, #143260 64.33%); */
  background-color: var(--i8-light-primary);
}

header nav#mainNav a {
  color: #848484 !important;
}

header nav#mainNav a:hover {
  color: var(--i8-light-primary) !important;
}

header .mainSubmenu::after {
  content: "";
  content: "";
  display: inline-flex;
  height: 6px;
  width: 6px;
  border-color: #333;
  border-style: solid;
  border-width: 1px 1px 0 0;
  -moz-transform: rotate(134deg);
  -o-transform: rotate(134deg);
  -ms-transform: rotate(134deg);
  -webkit-transform: rotate(134deg);
  margin: 0 5px;
}

header #submenu {
  width: 650px;
  right: 20px;
  top: 180%;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

header .mainSubmenu:hover #submenu {
  top: 120%;
  visibility: visible;
  opacity: 1;
}

header #submenuTabs {
  width: 250px;
  border-left: 1px solid #dedede;
}

header #submenu ul.child {
  list-style: none;
  width: 400px;
  padding: 0px;
  right: 100%;
  display: inline-grid;
  grid-template-rows: repeat(7, auto);
  grid-auto-flow: column;
  display: none;
  padding-right: 1rem;
}

header #submenu li {
  transition: 0.2s all ease-in;
}

header #submenu li:not(.subItem)::after {
  content: "";
  color: #777;
  position: absolute;
  top: 50%;
  opacity: 0;
  /* transition: .1s all ease-in; */
  display: inline-flex;
  height: 6px;
  width: 6px;
  border-color: #333;
  border-style: solid;
  border-width: 1px 1px 0 0;
  -moz-transform: rotate(223deg);
  -o-transform: rotate(223deg);
  -ms-transform: rotate(223deg);
  -webkit-transform: rotate(223deg);
  margin: 0 5px;
}

header #submenu li:not(.subItem):hover {
  background-color: #eaeaea;
}

header #submenu li:not(.subItem):hover ul.child {
  display: inline-grid;
}

header #submenu li:not(.subItem):hover::after {
  opacity: 1;
  left: 10px;
}

header #submenu ul.child li a {
  color: #000;
  font-size: 13px;
  padding: 5px 2rem;
  transition: 0.2s all ease-in;
  display: block;
}

header #submenu ul.child li:hover a {
  color: var(--i8-light-primary);
}

header #submenu #catDesc {
  border-top: 1px solid #dedede;
}

header .mainIcons form {
  width: 250px;
}

header .mainIcons label::after {
  position: absolute;
  content: "\e915";
  color: #fff;
  background-color: #bababa;
  border-radius: 100%;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
  font-family: "icomoon";
  font-size: 8px;
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .mainIcons #searchIcon form {
  display: none;
}

header #headAssistants {
  top: 120%;
  visibility: hidden;
  opacity: 0;
}

header #assistantItems li:hover {
  background-color: #f5f6f7;
}

header #headContact:hover #headAssistants {
  top: 90%;
  opacity: 1;
  visibility: visible;
}

/* header  */

@keyframes lineMoving {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 1000;
  }
}

.btn {
  border-radius: 0px !important;
}

.btn-main {
  color: #fff !important;
  background-color: var(--i8-light-primary) !important;
  width: 158px;
  height: 65px;
  flex-shrink: 0;
}

.btn-main:hover {
  color: var(--i8-light-primary) !important;
  border: 1px solid var(--i8-light-primary) !important;
  background-color: transparent !important;
}

.tableBorder {
  border: 1px solid #64ba6777;
}

.rounded-15 {
  border-radius: 15px;
}

.number-pagintion {
  direction: ltr;
}

.archive-thumb img {
  height: 140px;
}

.pagination-archive {
  display: flex;
  justify-content: center;
  color: #828282;
  gap: 12px;
  align-items: center;
}

span.page-numbers.current {
  background-color: var(--i8-light-primary-light);
  padding: 5px 10px;
  color: #fff;
  border-radius: 50px;
}

a.page-numbers {
  border: 2px solid #dee2e6;
  padding: 5px 10px;
  color: var(--i8-light-primary-light);
  border-radius: 50px;
}

a.page-numbers:hover {
  background-color: var(--i8-light-complete-color);
  padding: 5px 10px;
  color: #fff;
  border-radius: 50px;
}

/* ////////////////////////////////////////////////////// */

.banner-advertise {
  width: 460px;
  height: 68px;
  background: #d9d9d9;
}

.mini-article li {
  list-style: square;
  padding-right: 0;
  margin-right: 30px;
  padding-left: 38px;
}

.mini-article li::marker {
  color: var(--i8-dark-primary);
  font-size: large;

}

.mini-article li img,
.mini-article img {
  object-fit: cover;
}

.bigger-img img {
  width: 85px;
  height: 67px;
}

.box {
  background-color: var(--i8-light-fg-color);
  /* box-shadow: 0px 1px 3px 0 rgb(61 61 61 / 8%), 0 0 1px 0 rgba(0, 0, 0, .1); */
  overflow: hidden;
}

.comment-avatar {
  width: 64px;
  height: 64px;
  border: 2px solid #dadada;
  object-fit: cover;
}

a.comment-reply-link {
  font-size: 14px;
  padding: 0 4px;
}

.comment-awaiting-moderation {
  color: #f55;
}

.main-input {
  padding: 10px;
  border: 1px solid #dadada;
}

.main-input::placeholder {
  color: #9f9f9f;
}

input,
textarea {
  width: 100%;
}

.pagination .page-link {
  border: none;
  /* Remove border */
  border-radius: 100%;
  width: 26px;
  height: 26px;
  color: #828282;
  font-size: 18px;
}

.pagination .active .page-link {
  background-color: var(--i8-light-primary) !important;
}

footer {
  background-color: var(--i8-light-primary);
}

.footer-dark * {
  color: var(--i8-light-fg-color);
}

#footer ul .active {
  color: #0a93cd;
}

#footer .footer-logo {
  width: 80% !important;
  height: auto;
  object-fit: cover;
  text-align: center;
}

#header {
  background-color: var(--i8-light-bg-color);
}

#header .header-logo {
  width: 210px;
  height: auto;
  object-fit: cover;
}

.h-260 {
  height: 260px;
}

.text-blue {
  color: var(--i8-light-primary);
}

.blue-box {
  padding: 24px;
  background-color: #f9fdff;
  color: #292929;
  border: 1px dashed var(--i8-light-primary);
}

.tag-item {
  padding: 2px 8px;
  margin-left: 15px;
  color: var(--i8-light-primary);
  max-height: 27px;
}

.reference {
  color: #202020;
  text-align: right;
  font-size: 14px !important;
  font-weight: 200;
  margin-top: 2px;
  padding: 0 5px;
  border-right: 4px solid var(--i8-dark-complete-color);
}

.eslr-buttons {
  margin-top: 30px;
  margin-bottom: 10px;
}

.wp-video,
.mejs-audio {
  margin: 0 auto;
  text-align: center;
  margin: 25px auto;
}

.main-linear-gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 20.97%, rgba(214, 42, 62, 0.61) 100%);
}

.second-linear-gradient {
  background: linear-gradient(#ffffff16, #49c3929a);
}

.second-linear-gradient p,
.third-linear-gradient p,
.main-linear-gradient p {
  left: 0;
  right: 0;
  margin: auto;
  bottom: 15px;
  width: fit-content;
  color: #fff;
}

.third-linear-gradient {
  background: linear-gradient(#ffffff16, #ff3c0053);
}

.text-title svg {
  /* margin-left: 10px; */
}
.widget .text-title{
  position: relative;
  z-index: 2;
  margin-left: 8px !important;
}
.widget .text-title:before {
  position: relative;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ececec;
  display: flex;
  top: 18.75px;
  left: 0%;
  z-index: -1;
}
.multimdeia-dark-bg .text-title:before {
    background-color: #004897;
}
footer .text-title:before{
  background-color: transparent !important;
}


.mini-circle {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #fff;
  margin: 3px;
}

.img-tag {
  width: fit-content;
  padding: 2px 10px;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 80px;
  height: 30px;
  margin: auto;
}

.main-img-tag {
  width: fit-content;
  padding: 2px 10px;
  border-radius: 4px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 3%;
}

.i8-breadcrumb-item a {
  border: none !important;
  color: #848484;
}




/* mobile menu  */

nav.i8-h-menu {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  /* fade in checked menu */
}

nav .m-menu__checkbox {
  display: none;
}

nav label.m-menu__toggle {
  cursor: pointer;
}

nav .m-menu {
  opacity: 0;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  /* Change to right */
  max-width: 300px;
  width: calc(100vw - 30px);
  height: 100%;
  -moz-transform: translate3d(450px, 0, 0);
  /* Change to positive value */
  -o-transform: translate3d(450px, 0, 0);
  /* Change to positive value */
  -ms-transform: translate3d(450px, 0, 0);
  /* Change to positive value */
  -webkit-transform: translate3d(450px, 0, 0);
  /* Change to positive value */
  transform: translate3d(450px, 0, 0);
  /* Change to positive value */
  -moz-transition: transform 0.35s;
  -o-transition: transform 0.35s;
  -webkit-transition: transform 0.35s;
  transition: transform 0.35s;
  z-index: 1;
  overflow: hidden;
  background-color: #fff;
  direction: rtl;
  /* Set direction to rtl for right-to-left layout */
}

nav .m-menu__overlay {
  background-color: rgba(103, 103, 103, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  z-index: 1;
  display: none;
}

nav .m-menu__header {
  padding: 0 16px;
  height: 50px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  color: var(--i8-light-primary-light);
}

nav .m-menu__header span {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: right;
  width: 100%;
}

nav .m-menu .m-menu {
  -moz-transform: translate3d(-480px, 0, 0);
  /* Change to negative value */
  -o-transform: translate3d(-480px, 0, 0);
  /* Change to negative value */
  -ms-transform: translate3d(-480px, 0, 0);
  /* Change to negative value */
  -webkit-transform: translate3d(-480px, 0, 0);
  /* Change to negative value */
  transform: translate3d(-480px, 0, 0);
  /* Change to negative value */
}

nav .m-menu ul {
  height: 100%;
  overflow-y: auto;
}

nav .m-menu ul li a,
nav .m-menu ul li label {
  display: block;
  text-align: right;
  padding: 0 15px;
  line-height: 47px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}

nav .m-menu ul li label.a-label__chevron::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-color: #333;
  border-style: solid;
  border-width: 1px 1px 0 0;
  -moz-transform: rotate(222deg);
  -o-transform: rotate(222deg);
  -ms-transform: rotate(222deg);
  -webkit-transform: rotate(222deg);
  transform: rotate(222deg);
  top: 50%;
  margin-top: -5px;
  left: 16px;
}

nav .m-menu ul li .-invisible {
  border-bottom: 0;
}

nav .m-menu .m-menu label.m-menu__toggle {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  border-bottom: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

nav .m-menu__checkbox:checked~.m-menu__overlay {
  display: block;
}

nav .m-menu__checkbox:checked~.m-menu {
  opacity: 1;
  display: block;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* mobile menu */




/*
*   Menu Styles
*/
.hamburger-menu {
  padding: 0;
}

.submenu a.nav-link:hover {
  background-color: #f7f9fb;
  border-radius: 5px;
}

.dropdown-menu .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}


ul.dropdown-menu.submenu {
  min-width: 225px;
}

.nav-item a {
  font-size: 16px;
  font-weight: 600px;
  color: var(--i8-light-secondary);
}

.nav-item a.active {
  font-weight: 600;
  /* color: var(--i8-light-complete-color) !important; */
}

.nav-item a:hover {
  color: var(--i8-light-complete-color) !important;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  border: 0px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 1px #cecece4d;
  border: 1px solid #cccccca8;
  border-color: #ccc;
}

.dropdown-menu li {
  padding: 4px 0;
  border-top: 1px solid #d5d5d54d;
}

.dropdown-menu li:first-child {
  border-top: 0px;
}

.navbar-nav.me-auto.mb-2.mb-lg-0.menu-list {
  margin-right: 30px !important;
}


.left-menu button {
  background: var(--second-color);
  border: none;
  color: #fff;
  padding: 2px 5px;
  border-radius: 50px;
  width: 130px;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.left-menu button:hover {
  background-color: var(--primary-color);
}

.item-menu {
  display: flex;
  flex-direction: column;
  padding-right: 4rem;
}

.item-menu h5 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.item-access a,
.item-menu a,
.item-menu>a {
  margin-top: 1rem;
  width: 100%;
  text-align: right;
  padding: 5px;
}

.item-menu a:hover,
.item-menu>a:hover,
.item-access a:hover {
  background-color: #fff !important;
  color: #000;
  border-radius: 10px;
  padding: 5px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

/* end menu style  */

img.hover {
  -webkit-filter: brightness(100%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  transform: scale(1);
}

img.hover:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  transform: scale(1.07);
}



.small-post .item:first-child {
  margin-bottom: 24px;
}

@media (min-width: 576px) {}

@media (max-width: 576px) {

  .article {
    display: flex;
    flex-direction: column-reverse;
  }

  #footer .footer-logo {
    width: 70% !important;
    object-fit: cover;
    text-align: center;
  }

  .simple-list img {
    width: 140px !important;
  }

  .mini-article.simple-list .image_frame>img {
    max-width: 120px;
  }

  .i8-sticky {
    position: inherit !important;
  }

  h2.post-flip-box-title {
    top: 100px !important;
  }

  .post-flip-box-title a {
    font-size: 1.4rem !important;
  }

  .post-flip-box-image {
    width: 100%;
    height: auto !important;
  }

}


/* Animation Effect for icons beat fade */
@keyframes beat-fade {

  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.4;
    transform: scale(0.7);
  }
}

.icon_animate {
  animation: beat-fade 2s infinite cubic-bezier(0.4, 0, 0.6, 1);
}

/* Animation Effect for icons beat fade */

/* single page  */
.content-entry p {
  font-size: 18px !important;
  line-height: 185%;
  margin-bottom: 8px;

}

.content-entry a {
  border-bottom: 3px solid #eef7ff;
  color: var(--bs-info) !important;
}

/* .content-entry a:hover {
  border-bottom: 3px solid var(--i8-dark-complete-color);
  color: var(--bs-info);
} */

.content-entry ul li {
  list-style: square;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 180%;
  padding-bottom: 11px;
}

.content-entry ul li::marker {
  color: var(--i8-dark-complete-color);
  font-size: 150%;
}

.content-entry h1,
.content-entry h2,
.content-entry h3,
.content-entry h4,
.content-entry h5,
.content-entry h6 {
  color: var(--i8-light-primary);
  text-align: right;
  line-height: 180%;
  margin-top: 25px;
}

.content-entry h1 {
  font-size: 35px;
  font-weight: 700;
}

.content-entry h2 {
  font-size: 30px;
  font-weight: 700;

}

.content-entry h3 {
  font-size: 25px;
  font-weight: 700;

}

.content-entry h4 {
  font-size: 22px;
  font-weight: 700;

}

.content-entry h5 {
  font-size: 20px;
  font-weight: 600;

}

.content-entry h6 {
  font-size: 19px;
  font-weight: 500;

}

.content-entry img {
  width: auto;
  height: auto;
  max-width: 100%;
  /* border-radius: 15px; */
  /* object-fit: cover; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* margin: 30px auto; */
}

.wp-caption {
  width: 100% !important;
  padding: 1%;
}

p.wp-caption-text {
  color: #202020;
  text-align: right;
  font-size: 14px !important;
  font-weight: 200;
  margin-top: 2px;
  padding: 0 5px;
  border-right: 4px solid var(--i8-dark-complete-color);
}

.content-entry ul {
  padding: 0 15px 0 0;
}

.content-entry blockquote {
  padding: 24px;
  background-color: #F6F6F6;
  color: #292929;
  margin: 40px 0 25px;
}

blockquote p,
blockquote p i {
  margin: 0 !important;
  font-style: normal !important;
  border-right: 7px solid var(--i8-dark-complete-color);
  padding-right: 15px;
}


.page-bottom-sidebar {
  background-color: var(--i8-light-primary-light);
}

/* a svg.bi:hover {
  fill: var(--i8-dark-complete-color);
} */
.round-icon:hover {
  background-color: var(--i8-light-primary);
  color: var(--i8-light-fg-color);
}

table {
  width: 100%;
  border: 3px solid #f2f2f2;
  margin: 15px 0;
  caption-side: bottom;
  margin: 25px 0;
}

th {
  background-color: var(--i8-light-primary);
  color: white;
  padding: 8px;
  text-align: right;
}

td {
  border: 1px solid #d3d3d3;
  padding: 8px;
}

tr:hover {
  background-color: var(--i8-light-primary) !important;
  color: var(--i8-light-fg-color) !important;
}

table td {
  font-size: medium;
  text-align: right;
  padding: 15px 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  color: #4c4c4ccc;
}

tr:nth-child(odd) {
  background-color: #ffffff;
  color: #4c4c4ccc;
}

th,
td {
  text-align: right;
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
}

tr td:first-child,
tr th:first-child {
  border-left: none;
}

tr td:last-child,
tr th:last-child {
  border-right: none;
}




@media (min-width: 768px) {


  .i8-sticky {
    position: sticky;
    top: 10px;
    height: fit-content;
  }

  h1.single-title {
    font-size: 32px;
  }

  .i8-h-md-100 {
    height: 100%;
  }

  .h-fs-1 {
    font-size: 12px;
    line-height: 170%;
  }

  .h-fs-2 {
    font-size: 13px;
    line-height: 170%;
  }

  .h-fs-3 {
    font-size: 15px;
    line-height: 170%;
  }

  .h-fs-4 {
    font-size: 17px;
    line-height: 170%;
  }

  .h-fs-5 {
    font-size: 20px;
    line-height: 170%;
  }

  .h-fs-6 {
    font-size: 23px;
    line-height: 170%;
  }

  .h-fs-7 {
    font-size: 25px;
    line-height: 170%;
  }

  .h-fs-8 {
    font-size: 28px;
    line-height: 170%;
  }

}

@media (max-width: 768px) {

  .image_frame,
  .image_frame img,
  .image_frame_2 img {
    height: auto !important;
  }

  .single-item-data {
    height: auto !important;
  }

  .h-fs-1 {
    font-size: 11px;
    line-height: 170%;
  }

  .h-fs-2 {
    font-size: 12px;
    line-height: 170%;
  }

  .h-fs-3 {
    font-size: 13px;
    line-height: 170%;
  }

  .h-fs-4 {
    font-size: 15px;
    line-height: 170%;
  }

  .h-fs-5 {
    font-size: 18px;
    line-height: 170%;
  }

  .h-fs-6 {
    font-size: 21px;
    line-height: 170%;
  }

  .h-fs-7 {
    font-size: 23px;
    line-height: 170%;
  }

  .h-fs-8 {
    font-size: 25px;
    line-height: 170%;
  }

  .box {
    padding: 12px !important;
  }

  .big-post img {
    max-height: 231px !important;
  }

  .main-slider .big-post .card-title {
    font-size: 19px;
  }

  .main-slider .big-post,
  .main-slider .small-post {
    /* padding: 0 ; */
  }




  .darkmode-btn {}

  .mt-sx-3 {
    margin-top: 15px;
  }

  .comment-avatar {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 992px) {
  .first-main-img {
    height: 300px;
  }

  .second-main-img,
  .third-main-img {
    height: 231px;
    margin-top: 15px;
  }

  .btn-main {
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
  }


}

@media (min-width: 960px) {
  .h-fs-1 {
    font-size: 13px;
    line-height: 170%;
  }

  .h-fs-2 {
    font-size: 15px;
    line-height: 170%;
  }

  .h-fs-3 {
    font-size: 17px;
    line-height: 170%;
  }

  .h-fs-4 {
    font-size: 19px;
    line-height: 170%;
  }

  .h-fs-5 {
    font-size: 22px;
    line-height: 170%;
  }

  .h-fs-6 {
    font-size: 25px;
    line-height: 170%;
  }

  .h-fs-7 {
    font-size: 25px;
    line-height: 170%;
  }

  .h-fs-8 {
    font-size: 31px;
    line-height: 170%;
  }
}


@media (min-width: 1400px) {}

@media (min-width: 576px) {}


.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-clip: border-box;
}

.card-img-overlay {
  width: calc(100% - 24px);
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 1.1rem 1rem;
  border-radius: 15px;
}

.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
  color: white;
}


/* this code just for firefox  */
@-moz-document url-prefix() {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  b,
  p,
  a,
  .fw-bold,
  strong {
    font-weight: normal !important;
  }
}


/* Dark Mode */
.dark-mode a {
  color: var(--i8-dark-complete-color);
}

body.bg-main.dark-mode {
  color: #d5d5d5 !important;
  background-color: var(--i8-dark-bg-color) !important;
}

.dark-mode #header,
.dark-mode .header-container {
  background-color: var(--i8-dark-fg-color) !important;
}

.dark-mode .i8-main-menu-frame {
  background-color: var(--i8-dark-bg-color) !important;
}

.dark-mode .sub-header {
  background-color: transparent !important;
}

.dark-mode .nav-item a {
  color: var(--i8-light-primary) !important;
}

.dark-mode .text-grey {
  color: #e5e5e5 !important;
}

.dark-mode footer .nav-item a {
  color: white !important;
}

.dark-mode .page-bottom-sidebar.py-3.mt-3 {
  background-color: var(--i8-dark-fg-color) !important;
}

.dark-mode .text-gray,
.dark-mode .timeline-item {
  color: #c2c2c2 !important;
}

.dark-mode .timeline-item::after {
  background-color: var(--i8-dark-fg-color);

}

.dark-mode .text-title,
.dark-mode .box-title {
  color: white !important;
}

.dark-mode .post-title a,
.dark-mode .list-title a,
.dark-mode .text-subtitle {
  color: var(--i8-dark-secondary) !important;
}

.dark-mode .post-title a:hover {}

.dark-mode .single-title {
  color: var(--i8-dark-complete-color) !important;
}

.dark-mode .bg-grey {
  background-color: var(--i8-dark-primary) !important;
}

.dark-mode .mini-article li::marker {
  color: var(--i8-dark-complete-color);
}

.dark-mode .reference {
  color: var(--i8-dark-compelete-color) !important;
}

.dark-mode .tag-item {
  color: var(--i8-dark-complete-color) !important;
}

.dark-mode .card {
  background-color: transparent !important;
}

.dark-mode .box {
  background-color: var(--i8-dark-fg-color) !important;
}

.single-title {
  color: var(--i8-light-primary);
  line-height: 150%;
}



body.bg-main.dark-mode a:hover,
.dark-mode .content-entry h1,
.dark-mode .content-entry h2,
.dark-mode .content-entry h3,
.dark-mode .content-entry h4,
.dark-mode .content-entry h5,
.dark-mode .content-entry h6 {
  color: var(--i8-dark-complete-color) !important;
}

.dark-mode .content-entry a {
  border-bottom: 3px solid #eef7ff !important;
  color: #eef7ff !important;
}

.dark-mode .content-entry blockquote {
  background-color: var(--i8-light-primary) !important;
  color: #ffffff;
}

.dark-mode .social-icons svg {
  fill: var(--i8-light-complete-color) !important;
}


.i8-breadcrumb a,
.dark-mode .i8-breadcrumb a,
.dark-mode .social-share a,
.social-share a {
  border: none !important;
}

.dark-btn:hover svg {
  fill: var(--i8-dark-complete-color) !important;
}

/* yekta-net custom */
.dark-mode .yn-item_title {
  color: #fff !important;
}

.dark-mode .yn-footer-sticky {
  background-color: #2d93cc !important;
}


/* news style- move to own part */
.post-category,
.post-category a {
  color: var(--i8-light-complete-color) !important;
  display: block;
}

/* Number List Items */
.more-view {
  padding-right: 20px;
}

.more-view h1 {
  color: var(--primary-color);
  display: flex;
  align-items: center;
}

.more-view h1 img {
  margin-left: 10px;
}

.numeric-list-content {
  padding-left: 0px !important;
  padding-right: 0px !important;

}

/* .numeric-list-content li {
  margin: 12px 0;
}

.numeric-list-content li:first-child {
  margin: 0;
} */

.list-title {
  width: 85%;
}

.list-title a {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #535353;
  font-weight: bold;
  /* font-size: 17px; */
}

.list-number {
  width: 15%;
}

.numeric-list-item .list-number {
  color: var(--i8-dark-complete-color);
  margin-left: 13px;
  font-size: 30px;
}

.list-number {
  width: 15%;
}

/* Number List Items */

/*  box title  */
/* .box-title:before {
  content: '';
  background-image: ;
  padding-left: 10px;
  color: var(--i8-dark-complete-color);
  font-size: 40px;
  font-weight: 900;
}

.box-title-mini::before {
  content: '-' !important;
  padding-left: 5px;
  color: var(--i8-dark-complete-color);
  font-size: 40px;
  font-weight: 900;
} */

.box-title {
  padding: 12px 0;
  color: var(--i8-light-primary);
  font-variation-settings: "wght" 700, "DOTS" 5 !important;
}

.i8-breadcrumb>.current {
  color: var(--i8-dark-complete-color);
}

footer .box-title {
  color: var(--i8-light-complete-color);
}

footer .nav-item a {
  color: #fff;
}

footer .nav-item a:hover {
  color: var(--i8-dark-complete-color) !important;
}

.multimdeia-dark-bg .box-title {
  color: var(--i8-light-fg-color);
}


/* box title */

/* rest bootstrap container class in small screen */
@media (min-width: 992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    /* max-width: 99% !important; */
  }
}

@media (max-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 99% !important;
  }

}

@media (max-width: 768px) {


  .container,
  .container-md,
  .container-sm {
    max-width: 99% !important;
  }
}

@media (max-width: 576px) {

  .archive-thumb img {
    height: 50vw !important;
  }

  .container,
  .container-sm {
    max-width: 99% !important;
  }
}

/* End rest bootstrap container class in small screen */

/* global style */
.i8-img-fit {
  object-fit: cover;
}

.bg-grey {
  background-color: #F5F5F5;
}

/*  add Custom style for bootstrap borders */
/* this code is not work here. the copy of this code in main.scss file because here code order priority first and there last  */
/* for this reason just put here for remember */
@media (max-width: 576px) {
  .i8-border-sm-none {
    border: 0 !important;
  }

  ;
}

@media (max-width: 768px) {
  .i8-border-md-none {
    border: 0 !important;
  }

  ;
}

@media (max-width: 992px) {
  .i8-border-lg-none {
    border: 0 !important;
  }

  ;
}

@media (min-width: 992px) {
  .i8-border-xl-none {
    border: 0 !important;
  }

  ;
}

.navbar-nav .dropdown-menu {
  position: absolute !important;
}

.nav-link {
  text-align: right !important;
  background: initial !important;
}

/*  add Custom style for bootstrap borders */

/* special style for this theme */
.hero-box {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

.post-title a,
.list-title a {
  color: var(--i8-light-title-color);
}

.post-title a:hover {
  color: var(--i8-light-primary);
}


.special_post_list_items>div:last-child {
  border-bottom: none !important;
}

.widget {
  margin-bottom: 12px;
}

/* flip box style */
/* سبک‌های اختصاصی */
.post-flip-box-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.post-flip-box-image {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
}

.post-flip-box-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 10px;
  text-align: right;
  box-sizing: border-box;
  background: rgb(10, 97, 157);
  background: linear-gradient(0deg, rgb(15 112 185 / 92%) 61%, rgba(15, 112, 185, .3) 79%);
}

.post-flip-box-container .post-title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.post-flip-box-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 100%;
}

.post-flip-box-container:hover .post-flip-box-image {
  transform: scale(1.05);
  transition-duration: (1.2s);

}

/* سبک لینک */
.post-flip-box-link-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  /* افزودن اولویت به لینک */
}

/* تغییرات در تیتر هنگام هاور */
.post-flip-box-container post-title {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  /* حذف خط زیرخط دار پیش‌فرض */
  z-index: 2;
  /* افزودن اولویت بالا‌تر به تیتر */
  overflow: hidden;
  white-space: nowrap;
  /* جلوگیری از خط‌شکنی تیتر به سطرها */
}

.post-flip-box-container .post-title a {
  display: inline-block;
  /* تبدیل لینک به عنوان بلوک اینلاین */
  position: relative;
  padding-right: 100%;
  /* تنظیم پدینگ راست برای ایجاد انیمیشن از راست به چپ */
  color: #fff;
  text-decoration: none;
  transition: padding-right 0.3s ease;
  /* انیمیشن افزایش پدینگ راست */
}

.post-flip-box-container:hover .post-title a {
  padding-right: 0;
  /* حذف پدینگ راست هنگام هاور */
}


/*  تنظیمات حالت اولیه   */
.post-flip-box-container .post-flip-box-overlay {
  transition-duration: 0.7s;
}

/* هاور */
.post-flip-box-container:hover .post-flip-box-overlay {
  background-color: var(--i8-light-complete-color);
  opacity: 0.8;
}


/*  تنظیمات حالت اولیه   */
.post-flip-box-container .post-flip-box-title0,
.post-flip-box-container .post-flip-box-overlay>.post-flip-box-title {
  transform: translateY(2px);
  transition-duration: 0.7s;
}

/* هاور */
.post-flip-box-container:hover .post-flip-box-title0,
.post-flip-box-container:hover .post-flip-box-overlay>.post-flip-box-title {
  transform: translateY(-15px);
  transition-duration: 0.7s;
}

/* تغییرات در لینک هنگام هاور */
.post-flip-box-link-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1
}

h2.post-flip-box-title {
  position: relative;
  top: 180px;
  height: inherit;
  line-height: 120%;
}

/* flip box style */

/* gallery */
.gallery .post-flip-box-overlay {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(3, 7, 10, 0.80) 73.79%);
}

.menu-fix {
  min-width: 25%;
}

.i8-breadcrumb {
  padding: 15px 0 !important;
}

/* share Copy button */

.share-container {
  border-radius: 15px;
  display: flex;
  padding-right: 0;
  text-align: center;
  transition: width 0.5s;
  width: 80px;
  background-color: #eeeeee;
}

.share-container.active {
  width: 100%;
}

.share-btn {
  width: 90px;
  padding: 5px;
  font-size: 11px;
  font-weight: 800;
  color: #777777;
  border-radius: 15px;
  background-color: #eeeeee;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.share-btn:hover {
  color: #343a40;
  cursor: pointer;
}

.share-btn.active {
  color: #ffffff;
  background-color: var(--i8-dark-complete-color);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 5px 5px 5px 12px;
}

.share-btn.active:hover {
  background-color: var(--i8-dark-complete-color);
}

.share-url {
  width: 0;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 10px;
  color: #eeeeee;
  transition: all 0.2s;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.share-url.active {
  width: 100%;
  color: #343a40;
  padding: 6px;
}

/*fade*/
.animate {
  opacity: 0;
  transition: all 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animate.active {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
}

.slide-in-down {
  transform: translateY(-100%) translateX(-50%);
}

/*notification*/
.copy-link {
  direction: ltr;
}

.container-share-button {
  margin: 0 auto;
  /* width: 300px; */
}

.notification-button {
  position: fixed;
  top: 40px;
  left: 50%;
  padding: 10px 20px;
  background: #343a40;
  color: #eeeeee;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 800;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.05);
}

/* share copy button */

.widget {
  overflow: hidden;
}

.size-full {
  width: 100% !important;
}